version: '3'

services:
  lab:
    build: ./
    image: planning-entitlements
    container_name: planning-entitlements
    volumes:
     - ./:/app
    ports:
      - "8888:8888"
    environment:
      - JUPYTER_ENABLE_LAB=1
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - POSTGRES_URI=${POSTGRES_URI}
    command: ["/bin/sh","-c","pip install -e /app && jupyter-lab --no-browser --ip=\"*\" --allow-root --port=8888 --NotebookApp.notebook_dir=/app --NotebookApp.terminado_settings='{\"shell_command\": [\"bash\"]}' --LabApp.token=\"\" --LabApp.password=\"\""]
  voila:
    image: irose/citywide-civis-lab:e69270a2a7dc
    volumes:
     - ./:/app
    ports:
      - "8866:8866"
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - VOILA_NB=${VOILA_NB}
    command: ["/bin/sh","-c","pip install -e /app && voila /app/${VOILA_NB}"]
